* {
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;

}

.header {
  background-color: grey;
  width: 100%;
  height: 75px;
}
.container {
  display: flex;
  flex-direction: column;


}
.list ul li {
  list-style: none;

}
.list {
  width: 100%;
  background-color: green;

}
ul {
  padding-left: 0px;
  margin: 0;
  line-height: 22px;
}
.content {
  background-color: yellow;
}
.parrafo {
  margin: 0;
}
.hojas {
  width: 200px;
  float: right;
}
h2 {
  margin-top: 0;
}
.related {
  background-color: grey;
}
h3 {
  margin-top: 0;
}
.caja {
  background-color: #bababa;
  height: 20px;

}
@media (max-width: 480px) {
  .hojas {
    display: none;
  }
}
@media (min-width: 480px)and(max-width:1000px) {
  .contaniner {
    display: flex;
    flex-direction: row;
  }
  .list {
    width: 20%;
  }
  .content-caja-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

}
