* {
  box-sizing: border-box;
}

body{
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
p{
  font-size: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;
  padding: 3%;
  background: linear-gradient(white, lightblue);
  width: 70%;
}
.namesur{
  display: flex;
  flex-direction:row;
  margin-bottom: 3%;
}

.surNameClass{
  margin-left: 2%;
}
.emailPassword{
  display: flex;
  margin-bottom: 3%;
}
.getEmailAgain{
  margin-left: 2%;
}

.date{
  margin-bottom: 4%;
  display: flex;
  align-items: center;
}
.birthday{
  border-radius: 10px;
  height: 25px;
  margin-right: 2px;
  outline: none;
}
.questionBirth{
  margin-left: 5%;
}
.paragraphQuestionBirth{
  font-size: 12px;
}
.paragraphBtnAccount{
  font-size: 15px;
}

.buttonAnAccount{
  background-color: green;
  outline: none;
  border-radius: 10px;
  font-size: 1.5em;
  color: white;
  padding: 2%;
}
a {
  text-decoration: none;
  font-size: 15px;
}
